html {
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-x: hidden;

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-thumb {
		background: $red;
		border-radius: 20px;
	}

	::-webkit-scrollbar-track {
		background: $black;
		border-radius: 20px;
	}
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: $main-font;
	font-size: 1.6rem;
	background-color: $black;
	text-transform: uppercase;
}
p {
	color: $black;
	font-size: 2rem;
}

a {
	text-decoration: none;
	display: block;
}

h1,
h2,
h3 {
	font-weight: 900;
	text-align: center;
}

h1 a {
	font-size: 4rem;
	color: $red;
	text-transform: uppercase;

	&:hover {
		color: $white;
	}
}
h2 {
	font-size: 3.6rem;
	color: $black;
}
h3 {
	font-size: 3rem;
}
li {
	list-style: none;
}
img {
	object-fit: cover;
}
.subtitle {
	color: $white;
	text-align: left;
	margin: 3rem 0 0 1rem;
	font-size: 2rem;
}
