header {
	.card {
		background-color: rgb(102, 97, 97);
		border-radius: 5px;
	}
	.input-box {
		background-color: #bc4b51;
		color: $black;
		border-radius: 5px;

		.form-control {
			background-color: #bc4b51;
			border: none;
			font-size: 1.7rem;
			color: $black;
			border-radius: 5px;

			&:focus {
				box-shadow: none;
			}
		}

		button {
			background: none;
			border: none;
		}
		.fa-search {
			padding: 0 1rem;
		}
	}
}

main {
	button {
		background: white;
	}
	.navbar-nav {
		flex-direction: column !important;
		background-color: darken($dark-red, 5);
		border-radius: 5px;
		box-shadow: 0px 0px 5px 1px darken($dark-red, 10);
	}
	.dropdown-menu {
		background: darken($dark-red, 10);
	}

	.card {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		position: relative;
		background-color: $dark-red;
		color: $black;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 1px darken($dark-red, 10);

		ul li {
			background-color: $dark-red;
			color: $black;
		}

		&:hover .overview {
			visibility: visible;
			opacity: 1;
			overflow-y: auto;
		}
		.overview {
			position: absolute;
			background-color: lighten($dark-red, 20);
			color: $black;
			left: 0;
			top: 0;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity 0.5s linear;
			padding: 1rem;
			z-index: 1;
			height: 100%;
		}
	}
}

#tags {
	.highlight {
		background-color: #fff;
	}
	li {
		cursor: pointer;
	}
}

.page-container {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;

	#current {
		height: 3rem;
		width: 3rem;
		background-color: lighten($dark-red, 20);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: bold;
		box-shadow: 0px 0px 5px 1px $black;
	}

	#prev,
	#next {
		background-color: lighten($dark-red, 20);
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0px 0px 5px 1px $black;

		&:hover {
			background-color: darken($dark-red, 10);
		}
	}
}
