header {
	.card {
		background-color: rgb(102, 97, 97);
		border-radius: 5px;
	}
	.input-box {
		background-color: #bc4b51;
		color: $black;
		border-radius: 5px;

		.form-control {
			background-color: #bc4b51;
			border: none;
			font-size: 1.7rem;
			color: $black;
			border-radius: 5px;

			&:focus {
				box-shadow: none;
			}
		}

		button {
			background: none;
			border: none;
		}
		.fa-search {
			padding: 0 1rem;
		}
	}
}

main {
	button {
		background: white;
	}
	.navbar-nav {
		flex-direction: column !important;
	}
	.dropdown-menu {
		background: darken($dark-red, 10);
	}

	.card {
		width: 100%;
	}
}
