@media (min-width: 768px) {
	.header {
		.search-box {
			width: 50%;
		}
	}

	.movie {
		.image-overlay {
			.overview {
				h3 {
					font-size: 1.5rem;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}
	}

	.subtitle {
		font-size: 3rem;
	}
}

@media (min-width: 1024px) {
	.movie {
		.image-overlay {
			.overview {
				h3 {
					font-size: 2rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}
