@media (min-width: 768px) {
	.header {
		.search-box {
			width: 50%;
		}
	}

	.movie {
		.image-overlay {
			.overview {
				h3 {
					font-size: 1.5rem;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}
	}

	.subtitle {
		font-size: 3rem;
	}

	.top-rated-movies-slider {
		.swiper-container-top-rated {
			img {
				height: 35rem;
			}
		}
	}

	.movies-container {
		.grid-container {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.movie {
		.image-overlay {
			.overview {
				h3 {
					font-size: 2rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}
	}

	.trending-movies-slider,
	.top-rated-movies-slider {
		.swiper-slide {
			transition: 250ms all;

			&:hover {
				transform: scale(1.2);
				z-index: 1;
			}

			&:first-child:hover {
				margin: 0 40px;
			}

			&:last-child:hover {
				margin: 0 -40px;
			}
		}
	}

	.movies-container {
		.grid-container {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}

@media (min-width: 1440px) {
	.movies-container {
		.grid-container {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
	}
}
