// COLORS
$red: #e50914;
$black: #141414;
$white: #ffffff;
$gray: #e5e5e5;
$dark-gray: #b3b3b3;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$main-font: "Roboto", sans-serif;
