// COLORS
$dark-red: #a4243b;
$black: #151515;
$white: #ffffff;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$main-font: "Roboto", sans-serif;
